@value makerGreen: #385461;
@value makerWhite: white;

@value baseSpace: 12px;


.footer {
  width: 100%;
  background-color: makerGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: baseSpace;
}

.description {
  color: makerWhite;
}