@value makerGreen: #385461;
@value makerWhite: white;

@value baseSpace: 12px;

.footer {
	width: 100%;
	background-color: makerGreen;
	text-align: center;
	padding: baseSpace;
}

.description {
	color: makerWhite;
}
